---
import InfoCard from './InfoCard.astro'
import InfoCardSmall from './InfoCardSmall.astro'
import InstagramLiveSection from './InstagramLiveSection.astro'

const { colStart, colSpan, rowStart, rowSpan, img, title, instagram, hover } =
  Astro.props
---

<div
  class=`${colStart} ${colSpan} ${rowStart} ${rowSpan} relative group cursor-pointer`
>
  <img src={img} width='420' height='420' loading='lazy' />
  {
    colSpan === 'col-span-2' ? (
      <InfoCard title={title} instagram={instagram} hover={hover} />
    ) : (
      <InfoCardSmall title={title} instagram={instagram} hover={hover} />
    )
  }
  <InstagramLiveSection />
</div>
